<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> </title>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="/static/assets/enroll/style.css">

</head>
<body>
	<div class="video-bg">
		<video width="320" height="240" autoplay loop muted>
		 <source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
	   Your browser does not support the video tag.
	   </video>
	   </div>
<!-- partial:index.partial.html -->
<!-- <form method="POST"> -->
<div class="phone">
	<header class="header">
		<div class="header-logo">
			<div>
				<span></span>
			</div>
		</div>
			<section class="title">
				<center>
				<h1>Enroll Your Face</h1>
				<p>Click on Spacebar To Capture Face </p>
				</center>
			</section>
		<div class="header-buttons">
		</div>
	</header>
	<form method="POST">
	<section class="search">

		<div class="search-inner">
			<input type="username" class="search-input" name="uname" id="uname" placeholder="Name" />

		</div>

	</section>
	<br>
	<br>
	<section class="currently-playing">

		<article class="card horizontal">
			<div class="card-inner">
				<span class="card-pin simple"></span>
				<div class="card-image">
					<img src="/static/assets/enroll/O7zz.gif" />
				</div>
				<div class="card-content">
					<!-- <form action="/run_script" method="POST"> -->
					<div class="card-meta">
						<span class="card-meta-artist"> Capture</span>
						<button class="card-meta-button" type="submit" style="opacity: 0;">
							<i class="ai-circle-triangle-right-fill"></i>
						</button>
					</div>
					<!-- </form> -->
					<h2 class="card-title">Verification
					</h2>
				</div>
				<span class="card-pin simple"></span>
			</div>
		</article>
	</section>
	</form>
</div>
<!-- </form> -->
<!-- partial -->
  <script src='https://unpkg.com/akar-icons-fonts'></script><script  src="/static/assets/enroll/script.js"></script>

</body>
</html>
